<main class="main">
  <div class="img-fondo">
    <img
      src="../../../assets/images/rem-PhotoRoom.png-PhotoRoom.png"
      alt="rem"
      class="rem"
    />
    <div class="wrapper">
      <div class="form-box login">
        <h2>Acceder</h2>
        <form action="#">
          <div class="input-box">
            <span class="icon"><i class="bi bi-envelope-fill"></i></span>
            <input type="email" required />
            <label>Email</label>
          </div>
          <div class="input-box">
            <span class="icon"
              ><i class="bi bi-lock-fill"></i></span>
            <input type="password" required />
            <label>Contraseña</label>
          </div>
          <div class="remember-forgot">
            <label><input type="checkbox" />Recordar</label>
            <a href="#" class="forget">olvidaste tu contraseña?</a>
          </div>
          <button type="submit" class="btn">Acceder</button>
          <div class="login-register">
            <p>
              ¿No tienes una cuenta?<a
                routerLink="register"
                class="register-link forget"
                >registro</a
              >
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>

<hr class="hr" />